<!DOCTYPE html>
<html>
<head>
	<title>Weternet</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="./Public/css/index.css">
	<link rel="stylesheet" href="./Public/css/login.css">
</head>
<body>
	<div class="header">
		<div class="search">
			<form method="post">
				<p><input type="text" class="keywords" name="">
				<button type="submit">搜索</button></p>
			</form>
		</div>
		<div class="userinfo">
			<a href="Login"><font style="color: #454545;">用户中心</font></a>
		</div>
	</div>
	<div class="navi">
		<table style="height: 100%;margin-left: 25px;">
			<tr>
				<td><a href="Index">首页</a></td>
				<td><a href="#">文章</a></td>
				<td><a href="#">新闻</a></td>
				<td><a href="#">视频</a></td>
				<td><a href="#">联系我么</a></td>
				<td><a href="#">其它</a></td>
			</tr>
		</table>
	</div>
	<div class="left_bar">
		<div class="artical_list">
			<a href="#"><font style="font-size: 25px;">文章列表</font></a>
			<a href="#">###</a>
			<a href="#">####</a>
			<a href="#">######</a>
			<a href="#">###</a>
			<a href="#">####</a>
		</div>
		<div class="tag">
			<a href="#"><font style="font-size: 25px;">标签</font></a>
			<a href="#">#编程</a>
			<a href="#">#科技</a>
			<a href="#">#记录</a>
		</div>
	</div>
